<ng-container *ngIf='this.loadDataQuizState | async as loadDataQuizState'>
  <div class="container">
    <div class="bg stack">
      <div class="bg-top"></div>
      <div class="bg-bot">

      </div>
    </div>
    <div class="main stack">
        <div class="card">
          <div class="title-label">NOM DU QUIZ</div>
          <h1 class="headline">Mon test technique</h1>
            <button mat-raised-button [disabled]="!loadDataQuizState.isLoaded" routerLink="game-Quiz" color="primary" >DEMARRER</button>
        </div>

    </div>
    <div class="bestScore stack">
      <mat-spinner class="spinner" *ngIf="!loadDataQuizState.isLoaded" [diameter]="70"></mat-spinner>
      <div class="bestScore-card">
        <div class="trophy">
          <img src="../../assets/trophy.png" alt="">
        </div>
        <div class="best-score-title-label">
          <h2>Meilleur score</h2>
        </div>
        <div class="mark">
          <h1>09/10</h1>
        </div>
      </div>
    </div>
  </div>
</ng-container>


